@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	html {
		font-family: Inter, sans-serif;
		scroll-behavior: smooth;
		overflow: -moz-scrollbars-vertical;
		overflow-y: scroll;
	}
	.dark {
		color-scheme: dark;
	}
	::-webkit-scrollbar {
		width: 4px;
		height: 4px;
		border-radius: 4px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
		border-radius: 4px;
	}

	::-webkit-scrollbar-thumb {
		background-color: #a9b4bc80;
		border-radius: 15px;
		border: 1px solid transparent;
		background-clip: padding-box;
	}

	::-webkit-scrollbar-thumb:hover,
	::-webkit-scrollbar-thumb:active {
		background-color: #a9b4bc48;
	}

	html {
		scrollbar-color: rgba(169, 180, 188, 0.11) transparent;
		scrollbar-width: auto;
	}
	.gsapbox,
	.gsapbox1,
	.gsapbox2,
	.gsapbox3 {
		opacity: 0;
	}
}
